body{
	/*background-image: url('img/3.jpg') ;*/
	
	background-image: url(img/j.jpg);
	color: #000000;
	font-size: 87.5%;
	font-family: Arial, 'lucida sans unicode';
	line-height: 1.5;
	text-align: left;

}
.body { 
margin:0 auto;
width:70%;
clear: both;
}
a{
text-decoration:none;	
}
a:link, a:visited{
color:#cf5c3f;	
}
a:hover, a:active{
	background-color: #CCCCCC;
	color: #fff;
}
.mainheader img{
	width: 100%;
	height: 120px;
	color: #000;
	margin-top: 2%;
	margin-right: 0;
	margin-bottom: 2%;
	margin-left: 0;
}
.mainheader nav{
	background-color: #666;
	height: 40px;
	border-radius: 5px;
	-noz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color: #000;
}
.mainheader nav ul{
	list-style:none;
	margin:0 auto;
}
.mainheader nav ul li{
	float:left;
	display:inline;
	}
.mainheader nav a:link, .mainheader nav a:visited{
	color: #FFF;
	display: inline-block;
	padding: 10px 25px;
	height: 20px;
	}
/*.mainheader nav a:hover, .mainheader nav a:active,
 .mainheader nav  .active a:link, .mainheader nav .active a:visited{
	 background-color:#cf5c3f;
	 text-shadow:none;
 }*/
 .mainheader nav ul li a{
	border-radius: 5px;
	-noz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color: #000;
 }
 .maincontainer{
	line-height: 25px;
	border-radius: 5px;
	-noz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color: #000;

 }
 .content{
	 width:70%;
	 float:left;
 }
 .topcontent{
	background-color: #fff;
	border-radius: 5px;
	-noz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 3% 5%;
	margin-top: 2%;
	color: #000;
	}
	.post-info{
		font-style:italic;
		color:#999;
		font-size:85%;
	}
 .bottomcontent{
	 background-color:#fff;
	 border-radius:5px;
	-noz-border-radius:5px;
	-webkit-border-radius:5px;
		padding:3% 5%;
	margin-top:2%;
 }
 .top-sidebar{
	 width:21%;
	 float:left;
	 background-color:#cccccc;
	  border-radius:5px;
	-noz-border-radius:5px;
	-webkit-border-radius:5px;
	
	padding:2% 3%;
	
	margin:2% 0 2% 3%;
 }
 .middle-sidebar{
	 width:21%;
	 float:left;
	 background-color:#cccccc;
	  border-radius:5px;
	-noz-border-radius:5px;
	-webkit-border-radius:5px;
	
	padding:2% 3%;
	
	margin:0 0 2% 3%;
 }
 .bottom-sidebar{
	 width:21%;
	 float:left;
	 background-color:#fff;
	 border-radius:5px;
	-noz-border-radius:5px;
	-webkit-border-radius:5px;
	padding:2% 3%;
margin:0 0 2% 3%;
 }
 .mainfooter{
	 width:100%;
	 height:40px;
	 float:left;
	  border-radius:5px;
	-noz-border-radius:5px;
	-webkit-border-radius:5px;
	background-color:#666;
	
	margin:2% 0 2% 0;
 }
 .mainfooter p{
	width:92%;
    margin:10px auto;
	color:#fff;
 }
 @media only screen and (min-width: 150px) and (max-width: 600px)
 {
     .body { 

       width:90%;
       font-size:95%;
       }	 
	  .mainheader img{
	  width:100%;
	  }
	  
      .mainheader nav{
	 height:160px;
	
       }
         .mainheader nav ul{
	
padding-left:0;
}
.mainheader nav ul li{
	width:100%;
	text-align:center;
	
	}
.mainheader nav a:link, .mainheader nav a:visited{
		
		padding:10px 25px;
        height:20px;
		display:block;
	}

	
 .content{
	 width:100%;
	 float:left;
	 margin-top:2%;
 }
 .post-info{display:none;}
 .topcontent{
	 background-color:#fff;
	 border-radius:5px;
	-noz-border-radius:5px;
	-webkit-border-radius:5px;
	padding:3% 5%;
	margin-top:2%;
	margin-bottom:4%;
	}
	
 .bottomcontent{
	
	margin-top:3%;
 }
 .top-sidebar{
	 width:94%;
	padding:2% 3%;
	margin:2% 0 2% 0%;
 }
 .middle-sidebar{
	  width:94%;
	padding:2% 3%;
	margin:2% 0 2% 0%;
 }
 .bottom-sidebar{
	 width:94%;
	padding:2% 3%;
	margin:2% 0 2% 0%;
 }

 }
